

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
} 

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

body {
  background: #f7f4f4;
  -webkit-font-smoothing: antialiased;
  
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

.react-modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.react-modal-class {
  width: 100%;
  max-width: 676px;
  background: #f5f5f5;
  position: relative;
  padding: 3rem;
  border-radius: 0.25rem
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  transition: filter(0.2s);
  
  &:hover {
    filter: brightness(0.8);
  }
}