.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;


  @media (max-width: 480px) {
    max-width: 400px;
    position: fixed;
    bottom: 0;
    right: 2rem;;
  }
  
  img {
    max-width: 70px;
    filter: opacity(0.8);

    &:hover {
      filter: opacity(1);
      transition: 0.2s;
    }
  }
}